{% extends 'fourth_task\menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOW_games</title>
</head>
<body>
    <header></header>
        {% block pagename %} Бесплатные серверы {% endblock %}
    </header>

    <nav>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        {% for i in server_list %}
        <h3> {{i}} <button>Голосовать</button> </h3>
        {% endfor %}
        {% endblock %}
    </main>

    <footer>
        <h1 align="center">Лучшие WOW серверы</h1>
        <ul>
            <li><h2>Sirus <button>Голосовать</button> </h2></li>
            <li><h2>Uwow <button>Голосовать</button></h2> </li>
            <li><h2>WoW Circle <button>Голосовать</button></h2> </li>
        </ul>

    </footer>
<!--Или в списке :-->
<!--{% for i in server_list %}-->
<!--<h3> {{i}} <button>Голосовать</button> </h3>-->
<!--{% endfor %}-->

<button><a href="http://127.0.0.1:8000/wow">Вернуться на главную страницу</a></button>
</body>
</html>