<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form method="post">
    {% csrf_token %}

    <label for="username">Имя пользователя:</label>
    <input type="text" id='username' name="username" required>


    <label for="password">Пароль:</label>
    <input type="password" id='password' name="password" required>


    <label for="repeat_password">Повторите пароль:</label>
    <input type="password" id='repeat_password' name="repeat_password" required>


    <label for="age">Возраст:</label>
    <input type="text" id='age' name="age" required>


    <button type="submit">Зарегистрироваться</button>

{% if info.error %}
        <p style="color: red;">{{ info.error }}</p>
    {% elif info.welcome_message %}
        <p style="color: green;">{{ info.welcome_message }}</p>
    {% endif %}
</form>
</body>
</html>
